node_modules/
**/node_modules/
.env
**/.env
dist/
build/
.antigravity/
.DS_Store
*.log
.gemini/
brain/
logs/
tmp/
*.tmp
**/data*/
**/WiredTiger*
**/mongod.lock
**/*.lock
**/storage.bson
**/index-*.wt
**/collection-*.wt
**/_tmp/
.vscode/
.idea/
*.exe
*.o
*.obj
